[2017-11-04 13:26] tgeorgieva opened #1 "Front facing videos are mirrored after merge"
Selfie videos begin un-mirrored then become mirrored when merged.

[2017-11-07 11:53] tgeorgieva commented on #1
The generator now keeps all transformations from the original videos when merging.

[2017-11-07 11:53] #1 closed

[2017-11-24 11:14] saikumarj opened #3 "orientation change for recorded videos"
i selected two videos for merging. one is portrait and second one is in landscape. after merging the two videos. portrait video orientation will be change.

[2017-11-24 11:53] tgeorgieva commented on #3
@saikumarj That's expected behaviour, you can't have two orientations in one video so the merging pics, in this case, the last selected video's orientation as the main orientation for the finished video.

[2017-11-24 11:54] #3 closed

[2017-12-19 20:27] MobileAppVault opened #4 "Setup parameter for specific picture view duration!"
Hi,

many thanks for this awesome code.

I was wondering if its possible to setup a specific duration between each image?

## First example:
**100 images** and I want to **generate a movie** which shows **every image for 2 seconds**.

## Second example:
**2.500 images** and I want to **generate a movie** which shows **every image for 0,2 seconds** ( in other words: 3 images per second ).

Is it po

[2017-12-20 10:58] MobileAppVault commented on #4
I saw you've implemented `minSingleVideoDuration` variable.

Is this the value which I need to enhance?

[code]

Many Thanks!

[2017-12-20 17:59] tgeorgieva commented on #4
As it says, the `minSingleVideoDuration` is a property which indicates the minimum duration for a single video, not for a frame. It means that every generated video is at least 3 seconds long.

To implement what you're saying will take some tinkering but you can look at `open func generate()`

In the cycle `while (videoWriterInput.isReadyForMoreMediaData && frameCount < numImages)` I go through al

[2017-12-22 08:18] ibhavin opened #5 "Set maximum video length"
How can I set maximum duration of video for single video and single audio merge?

[2017-12-22 19:09] tgeorgieva commented on #5
Use the `duration` parameter in the `setup(withImages)` function.

[2017-12-23 02:18] ibhavin commented on #5
@tgeorgieva  I have give static value to duration like this:
[code]

but still video generated by audio length.

[2017-12-23 06:05] tgeorgieva commented on #5
In the `mergeAudio(withVideoURL)` there is another `duration` parameter which gets incremented with the audio length when it's being added to the generated video.

Keep in mind, setting the max length of a video like that doesn't mean the audio will get faster or the frame duration shorter, just means it'll cut off at the time the video stops. You can try doing that, changing the frame time but th

[2017-12-23 06:10] ibhavin commented on #5
@tgeorgieva
I have also tried to set duration in `mergeAudio(withVideoURL)`:

[code]

but still video length is equal to audio length.

[2018-01-18 03:57] ibhavin opened #6 "Make video from multiple image and single audio file"
I have made video from single image and audio file successfully and its working great.
Now I want to make video from multiple image and single audio file. Can anyone tell me solution for this?

Like from this one:
[code]

[2018-01-18 12:49] tgeorgieva commented on #5
@ibhavin This has been implemented in version 1.0.7. It's a property that you can set to single and multiple video generation.
**maxVideoLengthInSeconds**

[2018-01-18 12:50] #5 closed

[2018-01-19 04:28] ibhavin commented on #6
I have made some changes in `VideoGenerator.swift`:

[code]

[code]

But problem in this code is if I have 5 images and audio file length is smaller (less than 5 second) then video will not generate. It gives error `CMTimeMakeWithSeconds(0.500 seconds, timescale 1): warning: error of -0.500 introduced due to very low timescale` and in completion handler of VideoGenerator it gives error: `AVAssetWr

[2018-01-19 04:43] ibhavin commented on #6
I have changed `preferredTimescale` from 1 to 600 and its working good with any length of audio file and images.

`nextStartTimeForFrame = frameCount == 0 ? CMTime(seconds: 0, preferredTimescale: 600) : CMTime(seconds: Double(elapsedTime), preferredTimescale: 600)`

[2018-01-19 07:31] tgeorgieva commented on #6
OK, the changes are officially in the library so you can use them after you update to the latest version. Thank you for the suggestion and help. I've given you credit in the read me file next to the new feature with a link to your profile 👍 :)

[2018-01-19 07:31] #6 closed

[2018-01-22 11:29] tgeorgieva commented on #4
@MobileAppVault You can now do this with the new **singleAudioMultipleImage** type.

So for the first example:
You need 100 images and an audio that's **number of images * custom image duration** seconds long.
So in this case **1** image every **2** seconds means **200** seconds audio.

[2018-01-22 11:29] #4 closed

[2018-02-24 07:34] Bhavesh5291 opened #8 "when i pass more then 15 images for make a video that time application crash and display below error please suggest me how to solve this issue"
[GatekeeperXPC] Connection to assetsd was interrupted or assetsd died
Message from debugger: Terminated due to memory issue

[2018-02-26 14:07] tgeorgieva commented on #8
I'm sorry, I don't really have time to look into this now and I can't promise when I will. But this is obviously a memory issue, so it might be due to the image sizes. You can try resizing the images to make them smaller, see if that's what's causing the leak. That's the only thing I can suggest without testing it out myself but I've done up to 10 images and had no problem with memory leaks.
I'll

[2018-02-27 19:50] MingCherry opened #9 "when i use mergeMovies, i found out the disk space keeps increasing no matter how i clean up files in temp folder"
I am not quite sure why it happens, but i suspect that AVURLAsset created in the function will be saved into space. Is there any way to delete AVURLAsset after the merge? or how can it be fixed?
Thanks a lot!!!

[2018-02-28 05:24] MingCherry commented on #9
My Bad, found the issue

[2018-02-28 05:24] #9 closed

[2018-03-09 04:59] ryudice opened #10 "Uppercase extensions do not match when filtering movie formats"
Honestly I'm not sure if this is the reason why it doesnt work for me but it seems if the file extension is MOV instead of mov the file gets skipped.

I ended up writing my own code for merging since that was the only reason I wanted the library, you may want to have a look

[2018-03-09 07:37] tgeorgieva commented on #10
I'm sorry to hear you couldn't make use of the library because of this. Thanks for bringing it up, though, I will definitely look into it.

[2018-03-09 07:40] #10 closed

[2018-03-09 09:48] tgeorgieva commented on #8
Hi. I looked into this issue and fixed it. I was using a lot of image resizing and scaling logic and it was causing the app to crash with memory warnings. It should be fine now.

[2018-03-09 09:48] #8 closed

[2018-03-25 17:07] Momeks opened #11 "Convert UIView to Video"
Hello, I found this project cool. I just have one question does this captures a UIView activity into a video?
Thanks

[2018-03-25 20:04] tgeorgieva commented on #11
No. As the READ ME file explains, this converts an array of images and audios into a video.

[2018-03-25 20:04] #11 closed

[2018-04-13 10:56] DREXJAOL opened #12 "Multi orientation videos"
Hi, I really like your project, thanks for sharing. Im working on a private project where I would like to make the videocomposition landscape for all videos if just one of the videos selected for merge is landscape. and then rotate the rest of the portrait oriented videos accordingly while having black spaces on each side. Will you please point me in the right direction in regards of makeing an ad

[2018-04-13 11:27] tgeorgieva commented on #12
I'm sorry, I don't really have the time right now to research this and I haven't done it, so I can't really tell you what to do off the top of my head.

But I've seen some Stack Overflow answers that explain how to. You can create a method that rotates all portrait videos to landscape before you use the generator to merge them instead of trying to rewrite the existing code since that would be more

[2018-04-23 12:34] serjooo commented on #6
@tgeorgieva  I have something to add, what if I just want to make a video out of a list of images and not add audio to the video?

[2018-04-24 07:50] serjooo commented on #6
@tgeorgieva Hello. Thanks to the existing code I was able to rewrite the code and achieve what I wanted. Here is a gist of it if you are interested in adding it to the framework. [Github Gist](https://gist.github.com/serjooo/1616957bf9afac0f862570bded93e2d1)

[2018-04-24 13:14] tgeorgieva commented on #6
@serjooo Nice work! I will definitely check it out. 👍

[2018-05-04 16:09] goreste opened #13 "Gif support"
Hi,

Great project. Thanks for sharing it!

i want to ask you if you've already tried to include the support to merge videos with GIFs? Especially with the gifs with a trasparent background. Because i already tried to do it but the iOS decoder doesn't support the alpha channels on videos, so when i convert a gif into a video i get the black background on the gif as result.

Just wondering if you c

[2018-05-18 09:30] abokhalel2 opened #14 "Merge video with audio"
Hi,
Thank you for this project, I really like it. Is there a possibility to add this feature to the project:
Merging one Video with one Audio without any images.

This can be used to:
1- Replace an audio of a certain video with a new audio.
2- Add an audio to a muted video.

I would love for this feature to be added.

[2018-05-18 10:03] tgeorgieva commented on #14
@abokhalel2 The README file explains every functionality this project has. If it's not in the README file it can't do it.

[2018-05-18 10:04] #12 closed

[2018-05-18 10:08] abokhalel2 commented on #14
Thank you for your reply, I edited my post to make it as a requested feature. Thanks!

[2018-05-23 19:25] SteadyCoder opened #15 "Change the time of fps for video."
I didn't any way to change the duration of one image or frame in your library. I suppose it's possible to add this functionality ))

[2018-05-24 09:05] SteadyCoder opened #16 "Generating video from images without audio"

[2018-05-24 09:07] SteadyCoder opened #17 "Add objective c conformation."
When you generate library for objective c there is nothing in generated header.

[2018-06-13 08:54] rashidagile commented on #16
@SteadyCoder have you found any solution?

[2018-06-14 06:47] rashidagile commented on #16
@SteadyCoder

[2018-06-25 17:51] williamsthing opened #18 "Black frames at end of merged video"
Hey there,

I'm trying to merge several video files that are around one second long. It works fine, but at the end of each merged video there is a couple black frames.

There's also an issue where if there is no audio track the VideoGenerator throws an error.

Thanks for your work on this project!

[2018-07-20 08:55] tgeorgieva commented on #18
Hello.

I haven't tried using the merger with such short videos, but when I'm generating a video from images and audio, I always get an error if the video is bellow 3 seconds. That's why I've hardcoded such a minimum duration in the video generator. I don't have anything like that set up for the video merging feature, but it might be the system's way of protecting itself, adding those few extra fr

[2018-07-20 09:16] tgeorgieva commented on #17
This framework wasn't thought for Objective C to be honest. But maybe this can help you - https://github.com/hyperoslo/Whisper/issues/28.

[2018-07-20 09:16] #17 closed

[2018-07-20 09:21] tgeorgieva commented on #13
No, I'm sorry, I haven't tried anything like that. I don't know if Apple offers such in-depth video manipulations. Transparent background videos seems like a work for a specialised video editor, not a mobile framework. But I hope you find a solution for your specifications.

Best regards,
Teddy

[2018-08-03 10:32] dhaneshgosai opened #19 "Big size videos not reversing and application crashed"
Hello Team,

I am checking demo attached with this repo and I have replaced default video with my video and try to replace video its crashing app.

Please check it once.

Thanks

[2018-08-03 11:51] tgeorgieva commented on #19
Hello.

Thank you for the feedback. But to be able to trace the problem, I'll need more information.

What was the video? Size? Orientation? Quality? You need to add those details because as you've reported it right now I can't do anything. There's nothing for me to check.

Also, keep in mind that an iPhone/iPad has just so much processing power. If you load a 100MB photo in UIImageView, it will c

[2018-08-06 12:15] #13 closed

[2018-08-06 12:15] #15 closed

[2018-08-06 14:24] tgeorgieva commented on #16
This is now implemented in version 1.1.7.

[2018-08-07 06:36] #18 closed

[2018-08-07 09:39] tgeorgieva commented on #14
This has been added as a new feature in version 1.1.8.

[2018-08-07 09:39] #14 closed

[2018-08-14 02:13] suzhongzhou1991 opened #20 "memory issue"
Dear developer
when i generate images to video with type singleAudioMultipleImage.It cause high memory and high cpu. I add about 350 images and average image size is 250k.

[2018-08-14 02:14] suzhongzhou1991 commented on #20
here is the demo code:

VideoGenerator.current.fileName = "test"
        VideoGenerator.current.shouldOptimiseImageForVideo = true
        VideoGenerator.current.maxVideoLengthInSeconds = 15

        var localImages = [] as! [UIImage]
        for imageName in images {
            let imagePath = URL.init(fileURLWithPath: basePathString!).appendingPathComponent("lowpoly").appendingPathComponent(ima

[2018-08-16 19:53] kselvin opened #21 "Cannot merge a video created with .generate to other clips using .mergeMovies"
Steps to reproduce
1.  Create a video using a no sound and an image using .generate

2.  Take the URL from output of above and append it to an array of video URLs.  Use .mergeMovies function on the array of URLS

When i get the output merged video, the video created using Step 1 (from the image and no sound) does not properly merge and just shows a black screen for the duration i set using VideoGe

[2018-08-22 07:34] seyhagithub opened #22 "Animation"
I think should be animate from one clip to another clip.

[2018-08-22 07:36] tgeorgieva commented on #22
@seyhagithub What does that mean? Are you submitting a feature request? If so, please tag appropriately.

If it's a bug, please add more information about the issue.

[2018-08-22 07:45] seyhagithub commented on #22
@tgeorgieva i mean new feature request. What i want it is that you should add animation on video clip.
i am sorry for inconvenient issue

[2018-08-22 07:47] seyhagithub commented on #22
if you don't mind provide me a resource and i will work with it.

[2018-08-22 07:52] tgeorgieva commented on #22
@seyhagithub What resource? I haven't done any research on this to know exactly how advanced video editing capabilities I can add. I can't look into this at the moment so you'll have to take my code as base and work out your own solution. This is a helper library to generate and merge video. Any other advanced features are up to you to implement. I can't cater to everybody's needs ;)

Thank you fo

[2018-08-22 07:55] seyhagithub commented on #22
@tgeorgieva  Now i am researching on video editor and photo editor (less resource like book, video, article). But i cannot find a good resource to learn about them. Cause i am so interesting on them. If you have a good book or website, please recommend to me too.

[2018-08-22 07:59] tgeorgieva commented on #22
@seyhagithub I'm sorry, I don't have any one source to recommend. I mostly googled everything and used Stack Overflow answers that I reworked as needed.

[2018-09-05 10:45] regetskcob opened #23 "Modify playtime of images"
We want the generator to play the images with duration of 1 second. Which parameters do we have to change?

When we set 'maxVideoLenght' to nofImages * 1 second, the images play 3 seconds instead and the video is cut.

[2018-09-05 10:50] tgeorgieva commented on #23
Thank you for your interest! If you want to modify the playtime of images you'll have to change the VideoGenerator code. There is currently no public property that does what you want. You can label this as a feature request and I'll look into it.

[2018-09-06 08:23] ghost commented on #23
@tgeorgieva could you tell me the place, where the image-duration is currently determined?

[2018-10-06 21:08] SteadyCoder commented on #16
@rashidagile I've wrote it on my own

[2018-10-08 05:49] Bhavesh5291 opened #24 "Please add transition effect when create a video using images"

[2018-10-12 10:55] ibhavin opened #25 "Cannot invoke initializer for type 'Range<_>' with an argument list of type '(Range<String.Index>)'"
While migrating to swift 4.2 there are some errors according to `Range`.

`pathString.removeSubrange(Range(pathString.startIndex..<pathString.index(pathString.startIndex, offsetBy: 7)))`

**Cannot invoke initializer for type 'Range<_>' with an argument list of type '(Range<String.Index>)'**

[2018-10-12 13:52] tgeorgieva commented on #25
@ibhavin Pod updated to Swift 4.2.

[2018-10-12 13:52] #25 closed

[2018-10-14 03:00] huynq2007 opened #26 "Cannot access output video from Albums"
It seems that the generated videos have been saving to
`file:///var/mobile/Containers/Data/Application/2E99B180-8C77-4853-BB21-EC0228800FE3/Documents/singleMovie.m4v`
I cannot access the output video from Albums. How can I acces the output video from Albums?

[2018-10-14 06:04] tgeorgieva commented on #26
Hello.

The video is only being saved to the Documents folder of the app. If you want it in Albums, you'll have to write the code to move the file there.

[2018-10-14 06:04] #26 closed

[2018-10-17 10:03] tgeorgieva commented on #21
Hello.
What kind of an error are you getting?
Are you trying to merge the soundless video with other videos that do have sound? Because that is, indeed, not supported. The method merging the videos always looks for an audio track.

[2018-10-17 18:58] kselvin commented on #21
Ah yes that must've been it.  The 1 second video I was trying to add was being created from an image with no sound.  We actually moved away from trying to do this at all, but thank you for the reply!

[2018-11-05 05:22] kalpeshjethva18 commented on #21
**VideoGenerator: Can't begin an AVAssetExportSession** I am getting this kind of error.

[2018-11-23 05:04] khush004 opened #27 "Unable to run this project in SWIFT 3"
I had Downloaded this project but I am getting Following errors

![screen shot 2018-11-23 at 10 32 24 am](https://user-images.githubusercontent.com/29862624/48929065-17562380-ef0b-11e8-8032-2ac34bc7bc4f.png)

and I had also tried to install pod but I am getting Following Errors

![screen shot 2018-11-23 at 10 33 46 am](https://user-images.githubusercontent.com/29862624/48929086-466c9500-ef0b-11e8-

[2018-11-23 06:19] tgeorgieva commented on #27
@khush004 This project has never had a Swift 3 forked version. I update it as new versions of Swift come out so it's never been intended to be used by outdated versions of Swift. I don't know why you're using Swift 3 but I would highly recommend you update to the newest Swift 4.2 and Xcode 10.

[2018-11-23 06:20] #27 closed

[2018-12-04 05:47] AnitaVPN opened #28 "MergeMultipleVideo not works"
Hello There

Thanks for providing such a wonderful library

I am working on videoEditingApp and your library provide such a great help..:)

I want to integrate the video merge feature into my app but the code which is written in class not works , it just result me the first video

I also checked in your demo it also not work there.

Will you please check and update the code please

Thanks :)

[2018-12-04 06:44] tgeorgieva commented on #28
@AnitaVPN I'm glad you're finding the library helpful.
Thank you for notifying me about this bug. I'll look into it when I have time.

[2018-12-04 06:46] anvpn commented on #28
Sure , will trying myself and if found something , will share you so you can update quickly and it helpful to others

[2018-12-05 11:50] anvpn commented on #28
I have resolved with another way :)

[2018-12-05 12:14] tgeorgieva commented on #28
@AnitaVPN I'm glad you found a way. I'll leave your ticket open so I can look into it when I have the time :)

[2018-12-15 05:20] chetanPuwar21 opened #29 "Audio quality is not too good in Reverse video(URGENT)"
Hii...
are you there?

When I'm trying to save reverse video with audio through your library. It was successfully saved. But audio quality is not very bad.

please help..

[2018-12-17 05:13] chetanPuwar21 commented on #28
@AnitaVPN
hii.... are you there?

Have you worked with audio in reverse video?

[2018-12-17 15:06] yoann-FM opened #30 "Reversing video orientation issue !!!"
Hi,
I tried to build a boomerang effect.
I'm facing an issue when i reverse a captured video in portrait. The final video is stretched and wrong oriented (landscaspe instead portrait).
Have you already made a boomerang effect ?
It's possible to implement it on you amazing class ?

Regards

[2018-12-18 08:33] chetanPuwar21 commented on #19
Hii... are you there?

Your Crashing app issue is solved?

[2018-12-18 08:35] chetanPuwar21 commented on #19
Hii...

I think this is memory issue. due to "copyNextSampleBuffer()"

[2018-12-18 08:47] tgeorgieva commented on #19
@chetanPuwar21  Hello.
First, let me start with this - this device (iPhone or iPad) has memory limitations. If you're trying to convert an HD video or something equally big, there is nothing to be done. I can refactor the code all day and it'll still crash.

That's why I asked for more information. But since you've tested it and seem to know where the issue is, feel free to work on it and create a

[2018-12-18 09:25] chetanPuwar21 commented on #19
Thanks for reply.

my video size is only 30mb. this is not too big.

[2018-12-19 04:55] chetanPuwar21 commented on #30
Hii..  yoann
are you there?

Have you completed the task to reverse the video without orientation?

[2018-12-19 07:52] yoann-FM commented on #30
Hi,
what do you mean by without orientation? I blocked the auto rotate and
captured in portrait mode. I tried to merge also the reversed video and
it's not working....

On Wed, Dec 19, 2018 at 6:55 AM chetanPuwar21 <notifications@github.com>
wrote:

[2018-12-20 15:20] bilalwarind955 opened #31 "android version"
develop it for android also i am searching for android from almost two weeks but could not find any library like this for android

[2018-12-21 06:02] tgeorgieva commented on #31
@bilalwarind955  Hello. I'm sorry that you can't find a solution for your problem. However, I'm not an Android developer and I have no intention of becoming one just to develop a solution for your problem.
Also, a word of advice - 'develop it for android' is a rude way to ask for help. Maybe explain your problem and ask for advice, article, urls or example/similar libraries next time.

[2018-12-21 06:02] #31 closed

[2018-12-21 14:03] #23 closed

[2018-12-21 14:05] #21 closed

[2018-12-21 14:18] tgeorgieva commented on #29
@chetanPuwar21 When I added this functionality I debated on whether to even reverse the audio and keep it. As it is, I'll probably just remove it and leave the reversal silent.

[2018-12-21 14:32] #28 closed

[2018-12-29 03:07] chetanPuwar21 commented on #19
are you solved this issue?

[2019-01-01 15:04] yoann-FM commented on #30
Have you tested to reproduce boomerang effect of 2 sec ?

[2019-01-07 06:41] #20 closed

[2019-01-07 06:41] #19 closed

[2019-01-08 10:54] tgeorgieva commented on #29
Audio when reversing video has been removed.

[2019-01-08 10:54] #29 closed

[2019-01-08 14:14] tgeorgieva commented on #30
The orientation is now kept the same when the video is reversed.

[2019-01-08 14:14] #30 closed

[2019-01-08 16:01] yoann-FM commented on #30
So it s possible to do a boomerang effect ?

Le mar. 8 janv. 2019 à 16:15, Teddy G. <notifications@github.com> a écrit :

[2019-01-10 11:57] tgeorgieva commented on #30
@yoann-FM I don't know, I haven't tried. I've fixed the error with the video orientation. It's up to you to use my code and build the feature you need.

[2019-01-14 15:23] ggalapagos opened #33 "Multi image and single audio generation result has no picture (just black)"
Attempt to generate video with `.singleAudioMultipleImage` with multiple images and audio results in video with no picture. The same attempt with `.single` type works perfectly.
The issue is reproduced both in my project and Example project. iOS v12.1

[2019-01-15 06:36] #33 closed

[2019-01-21 03:06] lawgimenez opened #35 "This media format is not supported"
When trying to merge videos in my documents directory it throws this error, both are in mp4 format.

`Error Domain=AVFoundationErrorDomain Code=-11822 "Cannot Open" UserInfo={NSLocalizedFailureReason=This media format is not supported., NSLocalizedDescription=Cannot Open, NSUnderlyingError=0x28323e130 {Error Domain=NSOSStatusErrorDomain Code=-16976 "(null)"}}`

[2019-01-23 07:52] tgeorgieva commented on #35
@lawgimenez Thanks for the interest in this library.

First, just printing out the error without any additional data like which line threw the error or a complete list of both videos' metadata will not garner any satisfying responses. The "mp4" videos I've used while testing all work. So there must be something different about the videos you're using.

If the videos aren't up to the expected stand

[2019-02-13 10:02] mog96 opened #36 "generate() should not use hardcoded filename "test.m4v" for video output"
Using generate() to create multiple videos in sequence I get the following error:

[2019-02-15 08:09] tgeorgieva commented on #36
@mog96 It doesn't use a hardcoded filename. If you look at the code you'll see why it's needed. If you have a better idea for how to save a file without a name, do tell.

I will see why this could be happening, if I can reproduce it. But if you're reporting a bug give detailed information about it so the one you're expecting to fix it can do so. Printing out the error for me will do little if it's

[2019-02-15 10:16] mog96 commented on #36
Hi Teddy,

I apologize for being so vague.

The solution I had in mind when I posted this was to take an output file name/URL as a parameter to generate(), such that the client of your code is able to avoid name collisions. The issue was occurring when I was using generate() more than once in sequence, and so it seemed to me that the hardcoded file name was causing the issue. Perhaps I did not rea

[2019-02-15 10:16] #36 closed

[2019-02-15 10:32] tgeorgieva commented on #36
@mog96
On the first point, about the name collision - I need the file "test.m4v" because it's the temporary file created by merging the array of images. After that I check if there is any audio to be added and if there is, I use this temporary file as a medium to add the audio into (no other way to generate the video). If there isn't I rename the file form "test.m4v" to the custom name the user ha

[2019-02-15 13:09] #35 closed

[2019-02-21 09:14] DaraChanis opened #37 "add text"
I want to create a video from images audio and text

[2019-02-21 09:17] tgeorgieva commented on #37
@DaraChanis Thanks for the interest. Hoping you find the library useful.

However, can't you add the text to the image beforehand and then use the generator to create the video? I don't think I will be able to implement this anytime soon.

[2019-03-15 05:05] chiragios1 opened #38 "is it possible to Merge video and image with Time slot"
I know 2 or more video merging is possible or video from images is possible but merge first show image than video than images is this possible???

[2019-03-15 06:04] tgeorgieva commented on #38
@chiragios1 Thanks for the interest!
I'm sure it's technically possible to do this. With this library - no, it's not. But feel free to use this library's code as base for what you need to do.

[2019-03-15 06:04] #38 closed

[2019-04-04 19:08] Goule opened #40 "Blocking the main thread"
Hello,

Thanks for this library.
I'm trying to make a video with multiple images. But when it come to generate the video, my application freeze. In fact it freeze before unlock and print progress.
Is there any way to do it without blocking the UI ?

Thanks

[2019-04-04 19:37] Goule commented on #40
I tried to pass the generate function into the background queue and it's now ok. But it make a lot of time before start the job and passing to the progress handler... For a video of 3 sec with 200 images I need to wait 2 min before saw progress print start in my console. Is that normal ?
Thanks

[2019-04-12 21:50] blurtime opened #41 "Last video in array of multiple videos dicatates whether previous videos are mirrored"
I am using an iPhone 6 (I know its quite old) with the newest iOS and the newest Swift in my Xcode and noticed something odd when I used the pod. Namely, when I recorded several videos and merged them in my project app using the URLs, the last video I added to the array invariably decided how the videos were mirrored. All of my videos are recorded in portrait orientation. I just want them to be me

[2019-04-13 11:30] #40 closed

[2019-04-15 07:06] #37 closed

[2019-04-15 07:40] tgeorgieva commented on #41
@blurtime haven't added any code to handle changes in mirroring or orientation. Any "formatting" is done by Apple's system and AVFoundation. It's the same for the video orientation.

I don't know if AVFoundation can control the video mirroring. You will have to do research on your own and use my code as the basis for the feature. I will be happy to include any improvements you make to the library

[2019-04-17 21:37] HomeSchoolDev opened #42 "This media format is not supported"
Hello, I'm using the generate(withImages) func to generate a 5 second audio-less video file using an image and then using that video in a merge command. However, when attempting to use the new video generated from an image I keep getting an error saying: "Cannot Open" "This media format is not supported". However, when I pull the video file from phone I can see that it generated correctly and play

[2019-04-18 05:26] tgeorgieva commented on #42
@HomeSchoolDev Hello. Without having the videos you're using, giving me the code does about nothing, really.

You say you create a video using the merge method and then you merge that video with others? What about their video format?

Because the error you're given is pretty straight forward.

Are you trying to merge an audio-less video with ones that have audio? The library doesn't support that.

[2019-04-26 14:21] derek-maurer commented on #42
So I finally figured it out and it had nothing to do with the library. AVFoundation wasn't a fan of some of the images. Some worked and some didn't. I just wrote some code to scale the images to fit into a 1080p container and it worked perfectly.

[2019-04-27 17:15] tgeorgieva commented on #42
@HomeSchoolDev Thank you for sharing! I'm happy to hear you solved it!

[2019-05-11 04:56] govind300 opened #43 "Video orientation issue while merging."
Hello team,
Thanks for this amazing library.

While using your library I found an issue, when I am merging two landscape recorded videos (1st from back camera and 2nd from the front camera in iPhone 7) the 1st video gets wrong orientation in my case flipped upside down.

It will be really helpful if you solve this issue as soon as possible.

again thanks for your contribution to the community.

[2019-05-29 13:34] ravigangwar1991 opened #44 "Split Video"
Hi I'm trying to split the video with the time frame but it's not working as I have also checked in the example split video not working I didn't find any video on the URL which I get after splitting the video

[2019-06-03 10:53] harshjoshi096 commented on #26
Hi @huynq2007  @tgeorgieva  can anyone let me know what path do I use to save the video in album? and where do I need to change?.
Thanks

[2019-06-05 08:00] tgeorgieva commented on #44
@ravigangwar1991 I've checked and the example works as expected. I was able to create several videos split form the main one I use in the example, each with a different start point and length.

[2019-06-30 02:29] mnearents commented on #42
I am having this same issue when taking an image with the iphone camera, and merging it with audio recorded with AVAudioRecorder. Haven't gotten it to work so far.

[2019-07-05 10:31] RockinGarg opened #45 "“test.m4v” couldn’t be moved to “D10F1915-39D3-4C6F-82B5-9DCB8A4B4731” because either the former doesn’t exist, or the folder containing the latter doesn’t exist."
Complete Log

`file:///Users/peyman/Library/Developer/CoreSimulator/Devices/1A2CEDE0-AA2E-4E85-95AE-075162B55DA5/data/Containers/Data/Application/D10F1915-39D3-4C6F-82B5-9DCB8A4B4731/DocumentsSampleVideo1.m4v
finished
finished
“test.m4v” couldn’t be moved to “D10F1915-39D3-4C6F-82B5-9DCB8A4B4731” because either the former doesn’t exist, or the folder containing the latter doesn’t exist.
file:///Us

[2019-07-05 11:52] iOSDevGarg commented on #45
Happens in case when I don't provide audio URL there but if I provide it works well in my code whereas in your code it works even without audio file

Second: I put my some part of required code in your sample app and got same error as mentioned
I copied entire your code just on my controller not your please suggest what can be the issue ?
if required do let me know I will send you sample code too

[2019-07-05 12:16] tgeorgieva commented on #45
@RockinGarg What exactly are you trying to do? Your method name is "mergeVideo..." but then you're using the generate video method of the library... You say something about using a snapshot to merge with video?

Also, you can't merge a video with sound with one without sound. The library doesn't support that case.

I would check about some errors with your Documents path. There should be a Documen

[2019-07-05 12:43] #44 closed

[2019-07-05 13:00] iOSDevGarg commented on #45
Expected Output
I need to generate video from images
For now, I have one image that is "snapShotImage" its a image from Apple Maps of some location
So, I used generate video function from your code in which I passed that snapshotImage and no audio
but it gives me that error
And in same function if I pass audio too with that single image it get converted

My Code - https://www.dropbox.com/s/pmtel2v

[2019-07-05 13:03] iOSDevGarg commented on #45
I tested same code in your Sample code still issue was same until I didn't provided any Audio url

[2019-07-06 12:52] iOSDevGarg commented on #45
Hi @tgeorgieva Did you checked this issue ?

[2019-07-08 07:05] tgeorgieva commented on #45
@RockinGarg I'm not going to be doing a code review for you. It's your responsibility to fix your code. I did fix the error with the wrong path for the saved video.  So that should'n be causing any issues anymore.

I also checked the library code - I didn't get any errors when generating a video without audio. Not a video with a single image, nor one with multiple images. Both videos generate as e

[2019-07-08 09:09] iOSDevGarg commented on #45
Thanks for issue fix. I haven't checked that you did commit latest code in repo
I will check it once
yes, I agree this is my responsibility to fix my code. I was actually waiting for your code commit so I can check in my code
BTW I have tried this in simulator too and in real Device too before your latest commit

[2019-07-08 12:51] iOSDevGarg commented on #45
did you tried providing only images and no Audio file URL
that case let me have issue
If ii provider image and audio url both it works well

[2019-07-08 12:53] tgeorgieva commented on #45
As I already wrote in my previous comment, I did. And it works as expected both for generating a video with a single image and multiple images and no audio.

[2019-07-09 10:35] iOSDevGarg commented on #45
Even If I call exact button Action ```@IBAction func generateSingleVideoButtonClickHandler(_ sender: UIButton)``` from your code
in my viewController
Issue comes again test.mkv

Output
Through Code in your file
[code]

With same code in my another class
[code]

Code in your class
[code]

Code in my class
[code]

[2019-07-09 10:36] iOSDevGarg commented on #45
Is there any kind of configuration you do ?
because same code is really not working in mine
I just added my classes in your example code

[2019-07-09 10:47] tgeorgieva commented on #45
No special configuration. Just as you copied it in your comment. And it works as expected.

The error says there is some problem with your folder management. Check that out, try some other FileManager operations and try to figure out why that happens.

[2019-07-09 10:50] iOSDevGarg commented on #45
But just one thing that actually hits me is
Same code from your class works and same code without a single change doesn't work in my code
in same project where your code runs

[2019-07-09 10:51] tgeorgieva commented on #45
I'm happy you managed to reach this conclusion. Which means you're the one that needs to investigate, test and figure out why your code/device doesn't work.

[2019-07-09 10:51] iOSDevGarg commented on #45
To reproduce same error at your end
just create a new ViewController add a Button Action there and copy code of that merge there

[2019-07-09 10:52] tgeorgieva commented on #45
I told you before I don't think it's my job to recreate your code and solve your issue. I've checked my code and it works as expected.

[2019-07-09 10:52] #45 closed

[2019-07-09 10:59] tgeorgieva commented on #45
Last piece of advice - look over your output again. It's different from the one from my code. Try to figure out why.

[2019-07-10 04:33] iOSDevGarg commented on #45
Well as you suggested I looked up in code of mine & yours. Thus found a really strange Observation
When I create IBAction through storyboard it works well
When I add a button Programmatically and perform same ibAction or add AddTarget then it shows Error
I hope this is not something at my end probably
Just try if you can
Really Thanks for such great classes

[2019-07-10 05:02] SteliyanH commented on #45
@RockinGarg, as @tgeorgieva said all classes work well. The fact that the code works perfectly well with an IBAction and there is something wrong when adding actions programmatically points that the problem is in your code! I will evenly say where it is:
mergeButton.addTarget(self, action: #selector(mergeVideoBtnAction(sender:)), for: .allEvents)
The button is registered for all possible events, t

[2019-07-12 13:44] chess92 opened #46 "Request for custom image durations"
It would be nice to be able to pass in an array of integer durations parallel to the image array.

This would allow each image to have a custom duration.

[2019-07-12 16:39] chess92 commented on #46
Thinking about this more, I don't know how it will affect performance, but one could place the same image back to back several times in the array to somewhat accomplish this.

[2019-07-12 16:41] tgeorgieva commented on #46
Feel free to fork the project and experiment :) I will be happy to look over your code if you succeed and add it as a contribution.

[2019-07-12 22:23] trickpirata opened #47 "Getting Code=-11800 when merging videos"
So I am getting this error:
```Error Domain=AVFoundationErrorDomain Code=-11800 "The operation could not be completed" UserInfo={NSLocalizedFailureReason=An unknown error occurred (-16364), NSLocalizedDescription=The operation could not be completed, NSUnderlyingError=0x600000d45a10 {Error Domain=NSOSStatusErrorDomain Code=-16364 "(null)"}}```

when merging videos. Couple of notes:
1. video urls a

[2019-07-12 22:32] trickpirata commented on #47
Fixed by using AVAssetExportPresetPassthrough instead of AVAssetExportPresetHighestQuality.

EDIT:
According to apple docs: [Export Preset Names](https://developer.apple.com/documentation/avfoundation/avassetexportsession/export_preset_names_for_device-appropriate_quicktime_files?changes=latest_minor), AVAssetExportPresetHighestQuality are for .mov files.

[2019-07-12 22:43] trickpirata commented on #47
Referencing my pull request #48

[2019-07-18 17:27] blurtime commented on #41
@tgeorgieva I had some time on my hands and tried solving this issue again - though in vain. I created a [question on SO](https://stackoverflow.com/questions/57083151/change-preferredtransform-of-assetvideotrack-to-solve-mirroring-issue-when-mergi) yesterday but until now, nobody's answered it. There's some more information regarding my case (maybe it's a special case because the video's natural s

[2019-07-20 20:44] blurtime commented on #41
The "mistake" (if you can call it that) was that when looping through the array only the last loop's orientation or rather `preferredTransform` was set equal to the one of the entire merged video, the other ones were therefore overridden if they were different (which they are when one's mirrored and the other isn't).

I eventually didn't create a pull request but decided to post the [solution on S

[2019-07-20 20:44] #41 closed

[2019-07-23 09:16] blurtime commented on #41
@tgeorgieva just edited my answer on SO again. Please check out changes made in edit 3 and 4 (from today). The quality of the merged video was a lot worse when the quality of the original videos was 1080p. Furthermore, I added the code I needed for my case which others may also be required - or not. I currently cannot explain, why it's required in my case.

[2019-07-23 22:36] ConnorVO opened #49 "Exporting as .mov instead of .m4v"
Not an issue so much as me just being a newbie coder. How can I get it to export video as .mov so I can save to the camera roll? Or is there a better way to save to camera?

[2019-07-23 22:45] #49 closed

[2019-07-23 22:51] ConnorVO opened #50 "Trying to save video to camera roll but "Operation can't be completed""
I can see in my files that the image is being converted properly, but I just can't save it to camera roll. Any suggestions?

`VideoGenerator.fileName = "image"
    VideoGenerator.shouldOptimiseImageForVideo = true
    VideoGenerator.videoDurationInSeconds = 10

    VideoGenerator.current.generate(withImages: [img], andAudios: [], andType: .single, { (progress) in
      print(progress)
    }, succe

[2019-07-24 06:48] #50 closed

[2019-07-24 06:48] #47 closed

[2019-07-24 06:49] #42 closed

[2019-07-30 07:08] jraoatlogic opened #51 "Memory leak when shouldOptimiseImageForVideo = true"
Tried to create video from single image with shouldOptimiseImageForVideo = true, and the memory went up to 280MB or so and stayed there. If I set shouldOptimiseImageForVideo = false the memory remains at around 64MB.

[2019-07-31 08:47] takasurazeem opened #52 "How to split video inside for loop?"
[code]

[2019-07-31 08:56] tgeorgieva commented on #52
@takasurazeem I don't understand what you want to do or what the problem is that you're having. This isn't SO and I'm not here to do code reviews. I can't alter the library to cater to every specific project's needs. This library is already far removed from what I had in mind for it anyway.

If there is an issue with the library, please provide detailed description and examples and I'll check it w

[2019-07-31 09:23] takasurazeem commented on #52
VideoGenerator.fileName = Helper.uniqueFilename(filename: "chunks_video")
I have set the file name to be a concatenation of chunks_video and UUID string but everytime the loop executes it generates same name!

[2019-07-31 09:27] tgeorgieva commented on #52
@takasurazeem This doesn't seem like a bug no my end, more a problem with how or where you set the name. I'm guessing the old file overrides because you always give the same name for every next video. I suggest going over your code and thinking about how and when you should be setting the video name.

[2019-07-31 09:27] #52 closed

[2019-08-05 12:22] tgeorgieva commented on #51
Fixed in version 1.3.1

[2019-08-05 12:22] #51 closed

[2019-08-13 12:57] testingflexsin opened #54 "Issue with Generating video - Last black images is showing"
Hi, I am creating the video from multiple images. So i am facing issue i.e. sometimes i found black frame in last seconds of video that progress of images is not completed. If you found any reference for reproducing this bug , please ping me here
Seeking for your positive response.

[2019-08-19 10:35] testingflexsin commented on #54
Please update.

[2019-08-20 05:47] tgeorgieva commented on #54
@testingflexsin Unless you provide a specific and detailed report of the bug there's nothing I can do about it. I honestly can't understand what the issue is from what you've written.

What exactly is the issue? Was it during generating? Merging? Splitting a video?

What does " that progress of images is not completed" mean? Are you checking the video before the generating is complete? Is it okay

[2019-09-02 13:28] floriangbh opened #55 "Video corruption after merge"
Hello,

I'm encoutering an issue when I'm trying to merge two .mov video. After merging them, the resulting video appear to be corrupted on other OS (Windows, Ubuntu) or browser (Firefox, Chrome), but working well with QuickTime on MacOS.

Here is the code :
[code]

You can reproduce this issue with this sample project : https://github.com/floriangbh/video-merge-issue-demo
The result video of the

[2019-09-02 14:44] SteliyanH commented on #55
@floriangbh,
The video file format after the merge is m4v which is Apple-specific (develop for Apple's platforms). That is why it can't be played on other OS (Windows, Ubuntu). You could try to convert the m4v file to an mp4 file using AVAsset.

[2019-09-02 15:49] floriangbh commented on #55
Hello @SteliyanH
I just tried to convert to mp4, but the result is the same...

Commit : https://github.com/floriangbh/video-merge-issue-demo/commit/b70497db64f88ad1d279b8ccd4de13e9a8b2918e
Final video : https://firebasestorage.googleapis.com/v0/b/speedtest-dev/o/rendered-Video.mp4?alt=media&token=e5c7f7b6-48a4-45a8-87d3-b3c0ff6beb5c

[2019-09-03 13:02] SteliyanH commented on #55
@floriangbh,
If you noticed the produced video from the library is encoded using H.264 format for the video and AAC for the audio. These configurations can't be changed, because the merge is made using native Apple framework. To be able to play such kind of a format on other OS you will need additional codecs. Thus my previous suggestion won't help you :(

Here is a link describing how to play H.2

[2019-09-04 14:57] floriangbh commented on #55
In fact the video need to be readable from web navigator like Chrome, Firefox or Safari. I can't ask to our user to install a specific codec :)

[2019-09-06 05:34] #54 closed

[2019-09-09 14:14] testingflexsin opened #56 "Issue in creating video from multiple frames"
Hi Team ,

Please find attached code and video where we are creating the video from multiple frames.

So we are using your code to create video from multiple frames. So you can see in video that we are getting 52 frames and we would need 60 frames to make the complete video. It happens most of times but not always. So I am sharing the sample as well. Please suggest what I am doing wrong. I am crea

[2019-09-10 05:22] SteliyanH commented on #56
@testingflexsin,
First of all, we can't run your code because it is missing an essential file - AppDelegate.swift. Because of this we can't investigate what is happening and suggest/apply possible fixes. If possible provide the missing file and afterward we will again look into the issue.

[2019-09-10 05:35] tgeorgieva commented on #56
@testingflexsin Hello.

I looked at your video and I couldn't get much in the way of explanation.

As I saw in the video, you seem to be getting some errors with your images. "Couldn't load image...." etc. Maybe you should check out those first? There are at least 6 images that seem to be unable to load?

Also, you're saying you need 60 frames, that the issue happens only sometimes but you're not

[2019-09-16 11:13] mohanarchu opened #57 "How can we give a image per secound for video creater?"
Is that possible to select the image per second or 3 seconds per image

[2019-09-16 12:29] testingflexsin commented on #56
@tgeorgieva
Please check this video link :-  https://tinyurl.com/y5ytp5w4.

You can watch this video that we are not getting full frames(between 7th sec to 8th sec in video) during generating a video. It happens sometimes not every times. Please help me out from this issue.

Please let me know what you are required from my side.

Thanks.

[2019-09-16 13:38] tgeorgieva commented on #56
@testingflexsin As I wrote in my last comment, I can't help you without a properly detailed issue. I'm not here to do a code review of your project. So I need to know what you've done to debug the issue and how did you reach the conclusion the bug is from the library. Recently, someone opened an issue they thought had to do with my library. It turned out the person in question just didn't know how

[2019-10-28 22:09] denandreychuk opened #58 "Can I create video with DRM locally?"
Can I create video from image with DRM protection?

[2019-10-29 07:23] tgeorgieva commented on #58
@denandreychuk I will not change this library to accommodate the request of using protected content for personal gain. If the content is DRM protected it shouldn't be used. If it's yours, you should be able to remove the protection and freely use the images.

[2019-10-29 07:23] #58 closed

[2019-11-04 08:45] alexey-savchenko opened #59 "Consider transition to Swift.Result from separate `success`, `failure` closures for modeling operations outcome."
The codebase now relies on old approach of using separate closures, it will be wise to update it to incorporate Swift.Result type for modeling operation outcome.

I am willing to commit these changes and submit a pull request.

[2019-11-14 16:40] ivrylobs opened #60 "Could not build objective-c module 'SwiftVideoGenerator'"
I install through pod and import the module by import SwiftVideoGenerator
while build xcode said Could not build Objective-C module 'SwiftVideoGenerator'

[2019-11-14 16:41] ivrylobs commented on #60
i use xcode 11.2.1

[2019-11-15 12:25] tgeorgieva commented on #60
@ivrylobs I created a new project, installed the pod, imported the framework, build and ran just fine with the latest Xcode and Swift.

Are you trying to add this library to an Objective-C project? Because this is a Swift library and if you are, then it's normal to see this error.

[2019-11-15 12:27] ivrylobs commented on #60
Thanks you for the suggestion after i have converted from older version of swift and then build the project for the first time it's working fine

[2019-11-15 12:30] #60 closed

[2019-11-19 02:41] cs571393 opened #61 "cocoapods is old version"

[2019-11-19 03:06] #61 closed

[2019-11-19 08:26] cs571393 opened #62 "I hope to add one more parameter to set video size, now in multi-picture mode. Size is fixed proportion."

[2019-11-19 08:29] tgeorgieva commented on #62
@cs571393 Can you label your issue appropriately or add proper description if it's a bug you need help with?

[2019-11-19 08:31] tgeorgieva commented on #59
@alexey-savchenko Feel free to fork the project and make the changes you want. After you submit the pull request, I will look it over when I have the time and merge it if its bug free.

[2019-11-19 08:34] cs571393 commented on #62
@tgeorgieva
Now in VideoGeneratorType. Multiple types, the setup method will default to 800 * 800 the image format, associated with videoImageWidthForMultipleVideoGeneration, now only a fixed ratio of 1:1.
I want to add a parameter that sets the size of video. So let's say 1920 times 1080. Set it like this.

[2019-11-19 08:38] tgeorgieva commented on #62
@cs571393 OK, feel free to fork the project and implement your changes. I don't know why you aded an issue, but I'll mark it as improvement. If you feel like creating a pull request after you've finished and tested the feature, I'll look it over and consider adopting it into the project.

[2019-11-19 08:41] cs571393 commented on #62
@tgeorgieva
If yes, can I set the project to 9.0? Now I can only import files into the project, but I cannot import them through cocoapod. Because my project is the lowest version that supports iOS9.0

[2019-11-19 08:42] tgeorgieva commented on #57
@mohanarchu Not at the moment. Feel free to fork the project and implement the feature you need.

[2019-11-19 08:48] tgeorgieva commented on #62
@cs571393 You can do as you wish in your own project but I won't accept a merge request with a lower version. I'm not sure if some of the methods I use are even supported by lower versions of iOS anyway.
Again, though, you can try to lower it in your own forked project and see if it works for you.

[2019-11-19 10:39] mohanarchu commented on #57
Yea thanks for the comment, I have completed the feature already thanks.

[2019-11-19 10:40] #57 closed

[2019-11-20 00:41] cs571393 commented on #62
@tgeorgieva Can you add a cancel method?

[2019-11-20 06:06] tgeorgieva commented on #62
@cs571393 What cancel method? Is this a bug you have? Or an improvement you need? I really don't understand why this issue was opened.

[2019-11-20 06:12] cs571393 commented on #62
@tgeorgieva I happen to have a function in my app that composes video, and a function that cancels compositing, so I hope to have a function that can be cancelled.

[2019-11-22 04:47] rtvanals opened #63 "Error merging videos that have been generated from images with no audio"
I'm generating a handful of videos from images using this:

[code]

Then, when I try to merge the videos with this method:

[code]
where I pass the file URLs of the generated videos, I get the following error:

```Error Domain=AVFoundationErrorDomain Code=-11838 "Operation Stopped" UserInfo={NSLocalizedFailureReason=The operation is not supported for this media., NSLocalizedDescription=Operation S

[2019-11-22 07:15] tgeorgieva commented on #63
@rtvanals The merge video functionality doesn't support videos without audio.

[2019-11-22 15:05] tgeorgieva commented on #59
@alexey-savchenko This has been implemented in 1.4.0.

[2019-11-22 15:05] #59 closed

[2019-11-25 12:48] kuntal33 opened #65 "issue while sharing on Instagram"
Hi Guys,

Thanks for this wonderful SDK.

I am using this sdk to generate video from image and audio and it generates the video correctly. However when I try to share this video to instagram, it always fails.

Any idea/ suggestions?

[2019-11-25 12:54] SteliyanH commented on #65
Hello @kuntal33,
have you checked what are the recommended settings for a video to be shared on Instagram?

[2019-11-25 16:52] kuntal33 commented on #65
Hello @SteliyanH

Thanks for you reply.

Sorry I am not getting your question. Where exactally you want me to check?

[2019-11-27 13:33] SteliyanH commented on #65
@kuntal33,
Each platform (Facebook, Instagram, Twitter etc.) has its own documentation and video restrictions when sharing a video. If you google "Video requirements to share to Instagram" for example, I assume some of the top results will lead to the Instagram API documentation.

[2019-11-27 14:41] kuntal33 commented on #65
@SteliyanH
Yes I already checked that.

Issue is Instagram accepts video with 30 FPS. When I generate video from the sdk, it generates the video with 1FPS.

Thanks

[2019-11-27 14:44] SteliyanH commented on #65
@kuntal33,
When we have time we will inspect in details why the video isn't generated with a specific FPS and if it is possible to resolve it, a fix will be provided

[2019-12-04 13:01] sandeep-webvillee commented on #46
Have anyone implemented this features please help.

[2019-12-16 03:20] hocongviet commented on #46
Anyone implemented? Help please.

[2019-12-17 15:57] dimabiserov commented on #65
did you solve this problem?) if so, how?

[2019-12-29 17:40] Dzionis commented on #65
@hell4opt May be I can help you. I'm doing the same thing now)

[2019-12-30 03:09] rtvanals commented on #65
I would also like to find a solution to this.

[2020-01-22 12:23] Abdullah-Rekd opened #66 "Video Processing Time"
Hi , I am using your pod for Gif to Video ..
Working :
Gif to images array
images array passed to VideoGenerator.current

Issue I am facing that it took a lot of time for generating video.
for example I have array of images count 42 , so it takes approx 30-40 seconds for whole process where as I want this process in more less time. Can you please suggest me how to do this ??

[2020-01-22 12:35] tgeorgieva commented on #66
@Abdullah-Rekd Hello. I'm sorry that you find this to be a long time. The processing time is determined by the algorithm and the device's capabilities. Let's not forget these are phones, not computers.

I've cleaned up the algorithm as much as I can. I don't thing 30 seconds is a long time, especially considering that it's using gifs.

I can't suggest anything in terms of improving time because I

[2020-01-22 12:38] #66 closed

[2020-01-23 04:39] Abdullah-Rekd commented on #66
Great thanks.

[2020-01-23 05:38] Abdullah-Rekd commented on #66
The processing time is determined by the algorithm and the device's capabilities. Let's not forget these are phones, not computers.

^^ I've tested on simulator of
MacBook Pro 2018
2.2 GHz 6-Core Intel Core i7
16 GB 2400 MHz DDR4
Intel UHD Graphics 630 1536 MB

Do you think this Mac should take much time for processing ?

[2020-02-12 07:32] Abdullah-Rekd commented on #65
@Dzionis Please share if you already have a FPS solution for this SDK ... most of the peoples waiting for this like me..

looking forward to your response thanks

[2020-02-13 09:57] Dzionis commented on #65
@Abdullah-Rekd
I shared my video, that was generated from images using this [solution](https://stackoverflow.com/a/55019593).
Please share your way to upload video to Instagram, I'll check it.

[2020-02-17 10:07] GhagSagar23 opened #68 "Problem while generating video for 5 =< images."
The generated video does not play properly on AirPlay if the *image count is equal to or more than 5*.

The codec of the video is not precise, I guess, while generating & merging the video.

[2020-02-19 12:38] hezhez commented on #63
Hi @tgeorgieva, merging videos without sound is going to be possible ahead ? or is there any other option for that ?  it is really necessary for my project :)

[2020-02-19 13:12] tgeorgieva commented on #63
@hezhez At the moment, I don’t have any plans to implement this. But you can easily fork the project and use it as a starting point for your solution.

[2020-02-19 13:13] hezhez commented on #63
@tgeorgieva Thanks :)

[2020-04-02 20:14] korrolion opened #69 "videoDurationInSeconds has no affect"
Hello!

Thank you for the lib!
But I faced the problem:
If i set singleAudioMultipleImage with empty audio, the setting videoDurationInSeconds has no effect, and the video duration is 1 second.

[2020-04-03 04:32] tgeorgieva commented on #69
Well, the property speaks for it - SINGLE AUDIO. Using that setting takes the length of the audio passed in the constructor and that becomes the video length. Without audio, the video defaults to 1 second.

[2020-04-03 04:32] #69 closed

[2020-04-11 11:39] korrolion commented on #69
In my case, I have no audio and multiple Images.
It is necessary to control video duration in this case.

[2020-04-11 13:38] tgeorgieva commented on #69
Then feel free to use my library as the base for your own solution. You can always fork the project and add new functionalities you think are vital and contribute to the project.

[2020-04-25 18:45] flyinglionSJ opened #70 "App crashes when converting images with different height or width"
Hi,

After changing inside the swiftvideogenertaor, the app crashes when convert images with different size.type = _type
         audioURLs = _audios

         if self.type == .single {
           if let _image = VideoGenerator.shouldOptimiseImageForVideo ? _images.first?.resizeImageToVideoSize() : _images.first {
             self.images = [UIImage](repeating: _image, count: 2)
           }

[2020-04-29 20:22] flyinglionSJ commented on #43
Hi team,

While using your library, I noticed that after merging recorded video file in portrait mode from camera and audio, the video was converted and displayed in landscape mode
Please help to fix this.

Thanks!
Tony

[2020-06-19 09:47] dsmailes commented on #43
In VideoGenerator.swift if you add the line commented below this will fix the orientation problem.

    if let aVideoAssetTrack: AVAssetTrack = aVideoAsset.tracks(withMediaType: .video).first, let aAudioAssetTrack: AVAssetTrack = aAudioAsset.tracks(withMediaType: .audio).first {

        //fixes the orientation issue
        mutableCompositionVideoTrack.first?.preferredTransform = aVideoAssetTrack

[2020-07-10 12:13] abeticlairon opened #72 "How to set audio url to nil"
Thank you for this library! I want to create a video from a UIImage array but with no audio. I am unable to set `andAudios` to nil; how can I create a video without audio?

[2020-07-10 12:35] tgeorgieva commented on #72
Please, read through the README.md - it’s there for a reason and there are examples and/or explanations for all features.

[2020-07-10 17:13] sufjan-even-stevens opened #73 "Suggestion: Output File Type as Input"
Great library! I recently came across this problem where the video generated wasn't viewable on Safari so it got me thinking it's a good idea to add another parameter in the mix for situations like these.

from:
```open func mergeVideoWithAudio(videoUrl: URL, audioUrl: URL, outcome: @escaping (Result<URL, Error>) -> Void) {```
```"\(VideoGenerator.fileName).m4v"```
```exportSession.outputFileType

[2020-08-05 11:31] orchidfire opened #74 "Can this library generate a series of images from a video?"
Thanks

[2020-08-06 23:42] Ludotrico opened #75 "[improvement] thumbnail generation"
Any chance we can get thumbnail generation from a video?

[2020-10-12 17:45] traviscalley opened #76 "Bug when merging two different videos of different aspect ratios."
I would like some help to make this work correctly. I am merging a video that is in portrait with a video that is in landscape. As a result the landscape video is stretched to fit the entire screen.

[2020-10-22 06:30] hamzaozturk commented on #72
If you want to create a video without audio, you need to specify video duration, and send empty array to the andAudios parameter.

[code]

[2020-10-22 06:34] hamzaozturk commented on #75
You can use this function to get thumbnail from the video.

[code]

[2020-10-22 06:38] #75 closed

[2020-11-20 14:47] 2jeje opened #77 "StartWriting() to generate video fail (IPhone 12)"
I would like some help to make this work correctly.
I am generating video from UIImage array by using generate interface of this opensource.

Iphone 8 (IOS 14.2.0) works well.
But Iphone 12 (IOS 14.2.0) doesn't works well.

Additionally, I change codec type to hevc. This is works well.
------code------

          let videoSettings: [String : AnyObject] = [
            AVVideoCodecKey  : AVVideoCod

[2020-12-19 00:25] cerupcat opened #78 "SPM Needs OS Version definitions"
Installing via SPM won't work on newer projects since the minimum requirement needs to be set to iOS11.

[2021-05-06 09:59] Naresh6885 opened #80 "Crash on selecting generating video from photos & song."
I am facing one crash of array index out of range while creating the video from one audio & multiple images.

@IBAction func proccedButtonHandler(sender: UIButton) {
        if let audioURL4 = Bundle.main.url(forResource: "Barish2" , withExtension: "mp3") {
            VideoGenerator.current.generate(withImages: self.images ?? [], andAudios: [audioURL4], andType: .singleAudioMultipleImage) { (prog

[2021-05-06 10:00] naresh-kumar-ios commented on #80
What I observed is, the VideoGenerator.current.images are setting to 0. I am not able to find why the sent images are relinquished.

[2021-05-21 15:02] jonfoxmd opened #81 "Is customization of FPS possible?"
Is FPS really 1? Does anyone know a way to increase FPS so video does not lag audio when sound recording is continuous?

[2021-07-07 06:28] flyinglionSJ opened #82 "Video size issue"
Hi,
After converting images + audio to a video, the video size is not the same as the photo.  It becomes smaller than photo size.
![IMG_FBF4EC9C419B-1](https://user-images.githubusercontent.com/54824252/124710543-c6c04880-deb1-11eb-9627-6d1fb9eedbd3.jpeg)
Please help to have video size as same as photos's size

[2021-10-06 08:52] tryWabbit commented on #23
Hey @tgeorgieva !

Thank you for this beautiful library. Are there any updates regarding this issue? I'm trying to generate a video with multiple images and no audio. I guess it's hardcoded that picture duration should be >3 per frame.

Let me know if you can help me.

Thanks :)

[2021-11-02 16:45] Shahrukhpatel007 commented on #80
Hi @Naresh6885
Please check your audio file is proper or not in my case audio file was not proper so that's why I was getting this crash

Please check the size of audio file

[2021-11-06 03:47] actow opened #83 "UIImage.imageOrientation not honored"
Images loaded by UIImagePickerController don't always have .imageOrientation set to UIImage.Orientation.up.

Transformations need to be applied accordingly before encoding them into the video.

[2021-11-06 03:50] actow commented on #83
Here is the code to apply the transformation.

https://gist.github.com/schickling/b5d86cb070130f80bb40

[2021-11-06 04:15] actow commented on #83
Very rough, not well tested code that applies the orientation.

[code]

[2021-12-29 09:50] skyindfo opened #84 "Video Reverse but No Audio Found"
i want to video reverse with audio reverse but there is no audio found.

[2022-01-27 19:05] iosDeveloperAyaz commented on #76
Same issue, why no one respoonse here

[2022-02-05 09:59] iosDeveloperAyaz opened #85 "If I am creating video from multiple images, video generate missing on image from list"

[2022-10-04 00:03] torufuruya opened #86 "Compile Error: 'h264' is only available in iOS 11.0 or newer"
swift-video-generator is said to support iOS 12+ in the README, but it doesn't compile with the following error.

![Screen Shot 2022-10-04 at 9 00 55](https://user-images.githubusercontent.com/1757998/193706713-ced54b92-a737-4a40-b45e-b3c29f2cc307.png)

[2022-11-07 11:32] DevAK0000001 opened #87 "4K 60 video crashes during reverse"
i recorded 4k 60 video and try to reverse that video its crashes other types like HD 60 & HD 30 are working but it crash when i use 4K 60pr 4K 30 video.

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '*** -[AVAssetReaderTrackOutput resetForReadingTimeRanges:] cannot be called after the asset reader has entered a failure state'

[2022-11-28 10:11] DevAK0000001 commented on #87
Hi , if anyone found solution let me know but for temporary i have solved it first i reduce video size from 4k to 1080p  and then reverse it.